<header>
    <div class="panel-main">
        <div class="profilepic">
            <a href="/"><img src="/images/profile.png" alt="Profile Picture" style="width: 100px;"></a>
        </div>
        <div class="panel-main__content">
            <h1 class="panel-title"><a href="http://www.aluenkinglee.com/blog" title="link to homepage for Aluen King Lee">Aluen</a></h1>
            <!--<hr class="panel-cover__divider">-->
            <p class="panel-cover__description">On the way to be a maker</p>
            <!--<hr class="panel-cover__divider&#45;&#45;secondary">-->
        </div>
    </div>

</header>